/*
* Please do not import this file directly, import the "_all.scss" file instead
*/

$color-background: linear-gradient(to right top, #028090, #338aab, #5f92bf, #8a99cc, #b39fd2);
$color-background-main: #e4e4e4;
$color-primary: #028090;
$color-accent: #7D6C9C;
$color-accent-light: #B39FD2;
$color-font: #324B4F;
$color-font-light: #95B0B5;
