/*
* Please do not import this file directly, import the "_all.scss" file instead
*/

$color-background: linear-gradient(to right top, #028090, #338aab, #5f92bf, #8a99cc, #b39fd2);
$color-background-main: #e4e4e4;
$color-primary: #028090;
$color-accent: #7d6c9c;
$color-accent-light: #b39fd2;
$color-font: #324b4f;
$color-font-light: #95b0b5;
