@import '../modules/all';
html, body {
  @extend %reset-margin-padding;
}
body {
  font-family: $font-base;
  color: $color-font;
  background-image: $color-background;
  background-repeat: no-repeat;
}
