<div class="tda-cs tda-shadow-2">
  <!--  Mobile -->
  <section class="tda-cs-item">
    <div class="tda-cs-item-title">
      <h3><i class="material-icons">contact_phone</i><span i18n>Phone contact</span></h3>
    </div>
    <div class="tda-cs-item-content">
      <address i18n>(+33) 6 95 64 44 09</address>
      <p class="tda-cs-item-content__less" i18n>Personal</p>
    </div>
  </section>
  <!--  Email -->
  <section class="tda-cs-item">
    <div class="tda-cs-item-title">
      <h3><i class="material-icons">contact_mail</i><span i18n>Email contact</span></h3>
    </div>
    <div class="tda-cs-item-content">
      <address i18n>takeshi.daveau(at)gmail.com</address>
      <p class="tda-cs-item-content__less" i18n>Personal</p>
      <address i18n>takeshi(at)artips.fr</address>
      <p class="tda-cs-item-content__less" i18n>Work</p>
    </div>
  </section>
  <!-- Adresse -->
  <section class="tda-cs-item">
    <div class="tda-cs-item-title">
      <h3><i class="material-icons">location_on</i><span i18n>Living location</span></h3>
    </div>
    <div class="tda-cs-item-content">
      <address i18n>2 rue des Bruyères<br />93 260, Les Lilas<br />France</address>
    </div>
  </section>
  <!-- Skills techniques -->
  <section class="tda-cs-item">
    <div class="tda-cs-item-title">
      <h3><i class="material-icons">code</i><span i18n>Technical skills</span></h3>
    </div>
    <div class="tda-cs-item-content">
      <ul class="tda-cs-skills-list">
        <li>
          <h4 i18n>Javascript</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="90"></tda-skill-range>
        </li>
        <li>
          <h4 i18n>NodeJS</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="85"></tda-skill-range>
        </li>
        <li>
          <h4 i18n>HTML</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="80"></tda-skill-range>
        </li>
        <li>
          <h4 i18n>CSS</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="70"></tda-skill-range>
        </li>
        <li>
          <h4 i18n>MongoDB</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="70"></tda-skill-range>
        </li>
        <li>
          <h4 i18n>Python</h4>
          <tda-skill-range [min]="0" [max]="100" [value]="50"></tda-skill-range>
        </li>
      </ul>
    </div>
  </section>

  <!-- Langages -->
  <section class="tda-cs-item">
    <div class="tda-cs-item-title">
      <h3><i class="material-icons">chat</i><span i18n>Spoken language</span></h3>
    </div>
    <div class="tda-cs-item-content">
      <p i18n>French</p>
      <p class="tda-cs-item-content__less" i18n>Native speaker</p>
      <p i18n>English</p>
      <p class="tda-cs-item-content__less" i18n>Good working knowledge</p>
    </div>
  </section>
</div>
