<div class="tda-app tda-container tda-card">
  <tda-header></tda-header>
  <main class="tda-row">
    <aside class="tda-contact-skills-wrapper">
      <tda-contact-skills></tda-contact-skills>
    </aside>
    <div role="main" class="tda-main-wrapper">
      <section id="work" class="tda-card tda-main-section">
        lorem ipsum
      </section>
      <section id="education" class="tda-card tda-main-section"></section>
      <section id="interests" class="tda-card tda-main-section"></section>
    </div>
  </main>
  <tda-footer></tda-footer>
</div>
