@import '../styles/modules/all';

.tda-app {
  background: $color-background-main;
  margin-top: $space-base * 2;
  margin-bottom: $space-base * 2;
  border-radius: 4px;
  overflow: hidden;
}

.tda-contact-skills-wrapper {
  width: $space-left-width;
}

.tda-main-wrapper {
  padding: $space-base;
  flex-grow: 2;
}
.tda-main-section {
  background-color: #fff;
  padding: 2 * $space-base;
  margin-bottom: $space-base;
  h3 {
    font-size: $space-base * 2.5;
  }
}
