@import '../styles/modules/all';

.tda-app {
  background: $color-background-main;
  margin-top: $space-base * 2;
  margin-bottom: $space-base * 2;
  border-radius: 4px;
  overflow: hidden;
}

.tda-contact-skills-wrapper {
  width: $space-left-width;
}
