@import '../../../styles/modules/all';

.tda-skill-range {
  height: 4px;
  background-color: $color-font;
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 2px;
}
.tda-skill-range__marker {
  position: absolute;
  display: block;
  top: calc(50% - 4px);
  background-color: #fff;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
