@import '../../../styles/modules/all';

.tda-footer {
  background-color: $color-font;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: -($space-base / 3);
  font-family: $font-title;
  font-weight: bold;
}
.tda-footer-copyright {
  color: rgba(255, 255, 255, 0.87);
}
.tda-footer-love {
  color: $color-font-light;
  .material-icons {
    font-size: inherit;
  }
}
